body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #151515; */
  background-image: url('https://wallpaperaccess.com/full/22917.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App-header{
  background-color: #151515!important;
  background-image: url('https://wallpaper.dog/large/333834.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App-header h1{
  /* margin-top: 0; */
  z-index: 1;
}
.person-wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 1ch;
  column-gap: 1ch;
  width: 80%;
  margin:30px 0;
  /* justify-content: center; */
  
}
.person-box{
  /* border:1px solid rgb(200, 200, 200); */
  box-shadow: 0px 0px 5px 0px rgba(109, 105, 105, 0.5);
  filter:blur(0px);
  background-color: rgba(184, 192, 199, 0.068);
  position: relative;
  padding:15px;
  max-width: 380px;
  max-height: 300px;
}
.person-box button{
  position: absolute;
  margin: auto;
  bottom:10px; 
  left:23%;
  text-align: center;
  border-radius: 25px;
  width: 200px;
  height:50px;
  transition: bottom,background 0.6s ease;
  border:1px solid rgba(109, 105, 105, 0.5);
}
.person-box button:hover{
  background-color: rgb(163, 161, 161);
}
.person-wrapper h5{
  font-size: .75em;
  font-weight: 400;
  margin:20px;
}
.person-wrapper h5:last-child{
  margin-bottom: 75px;
}
.person-info{
  /* display: none; */
  opacity: 0;
  transition: all .3s ease;
}
.search-box{
  border-radius: 25px;
  min-width: 350px;
  padding-left: 10px;
  height:40px;
  margin-bottom: 5px;

}
.search-icon{
  position: absolute;
  right:15px;
  top:12px;
  width: 20px;
  height:20px;
  z-index:9;
  cursor: pointer;
  z-index: 0;
}
.search{
  position: relative;

}

.circle{
  /* z-index: -1; */
  filter: blur(1px);
  position: fixed;
  top:0;
  left:5%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background: linear-gradient(150deg, #1f005c, #48005f, #680060, #830060, #9c155f, #b22c5e, #c5415d, #d5585c, #e36e5c, #ef865e, #f89d63, #ffb56b);
  animation:circleDown 6s alternate infinite ;
}
.circle2{
  /* z-index: -1; */
  filter: blur(1px);
  position: fixed;
  bottom:0;
  
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background: linear-gradient(150deg, #1f005c, #48005f, #680060, #830060, #9c155f, #b22c5e, #c5415d, #d5585c, #e36e5c, #ef865e, #f89d63, #ffb56b);
  animation:circleLeft 5s alternate infinite ease-in-out ;
}
.circle5{
  /* z-index: -1; */
  filter: blur(1px);
  position: fixed;
  bottom:0;
  
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background: linear-gradient(150deg, #1f005c, #48005f, #680060, #830060, #9c155f, #b22c5e, #c5415d, #d5585c, #e36e5c, #ef865e, #f89d63, #ffb56b);
  animation:circleRight 5s alternate infinite ease-in-out ;
}
.circle3{
  /* z-index: -1; */
  filter: blur(1px);
  position: fixed;
  right:42%;
  top:0;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background: linear-gradient(150deg, #1f005c, #48005f, #680060, #830060, #9c155f, #b22c5e, #c5415d, #d5585c, #e36e5c, #ef865e, #f89d63, #ffb56b);
  animation: circleDown 4s alternate infinite ;
  animation-delay: 2s;
}
.circle4{
  /* z-index: -1 ; */
  filter: blur(1px);
  position: fixed;
  bottom:0;
  right:5%;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background: linear-gradient(150deg, #1f005c, #48005f, #680060, #830060, #9c155f, #b22c5e, #c5415d, #d5585c, #e36e5c, #ef865e, #f89d63, #ffb56b);
  animation:circleUp 3s alternate infinite ;
  animation-delay: 2s;
}
@keyframes circleDown {
  0%,100%{
      top:0;
      bottom:auto; 
  }
  800%{
      top:auto;
      bottom:200px
  }
  100%{
      top:65%;
  }
 
}
@keyframes circleUp {
  0%,100%{
      top:0;
      bottom:auto; 
  }
  800%{
      top:auto;
      bottom:200px
  }
  100%{
      top:65%;
  }
 
}
@keyframes circleLeft{
  0%,100%{
      bottom: 0;
      left:0;
      right:auto; 
  }
  80%{
      bottom:50%;
      left:50%;
  }
  
}
@keyframes circleRight{
  0%,100%{
      top: 0;
      right:0;
      left:auto; 
  }
  80%{
      top:50%;
      right:50%;
  }

}

.text-center{
text-align:center;
}
.cta-btn{
  transition: bottom .4s ease;
  
}
.d-flex{
display: flex;
margin-bottom: 15px;

position: absolute;
bottom:0px;
left:0;
width: 100%;
max-height: 300px;
}
.d-flex > *{
  width: 120px!important;
  position: static!important;
}
.d-flex .btn-extra{
  display: block;
}
.btn-extra{
  display: none;
}


.show{
  position: fixed;
  top:10vh;
  right:20vw;
  width:60vw;
  height:80vh;
  background-color: #151515;
  box-shadow: 0px 0px 2px 0px rgba(109, 105, 105, 0.5);
  z-index: 9;
  border-radius: 15px;
  display: none;
}
.info-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:20px 0 0 20px;
  text-align: left;
  max-height:750px;
}
.show--box{
  position: relative;
  width: 100%;
  height:100%;
  overflow-y:auto;
  text-align: left;
}
.info-wrapper > *{
  margin: 10px;
}
.btn-close{
  position: absolute;
  top:-7px;
  right:10px;
  width: 30px;
  height: 30px;
  transform: scale(.7);
}
.btn-close svg{
  width: 30px;
  height: 30px;
  fill:white;
  cursor: pointer;
  background-color: #29282c;
  padding:10px;
  border-radius: 50%;
}
.info-wrapper .name{
  padding-top:10px;
}
.info-wrapper .username{
  margin:20px  20px 0 ;
  font-size: 16px;
}
.info-wrapper .email{
  margin-bottom:0;
  margin-top:10px;
  font-size: 16px;
}
.info-wrapper .phone{
  margin-top:10px;
  font-size: 16px;
}
.btn-close2{
  text-align: center;
  background-color: #a5a2b1;
  color:darkred;
  font-weight: 600;
  width:100px;
  margin:auto;
  height: 40px;
  border-color: #111011;
  
  margin-top:20px;
  margin-bottom: 10px;
  padding:5px 5px ;
  border-radius: 15px;
  cursor: pointer;
}
.btn-close{
  background-color: transparent;
  border:none;
}

.person-img{
  margin:auto;
  width: 300px;
  HEIGHT: 250PX;
  OBJECT-FIT: cover;
  border-radius: 15px;
  transition: all .3s ease;
  
}
.person-info h2{
  font-size: 24px;
  margin: -20px auto 10px;
}
.person-info h5{
  margin: 10px auto;
}
.people-website{
  text-align: center;
  padding:5px 10px ;
  height: 30px;
  width: 30%;
  text-decoration: none;
  margin:auto;
  border-radius: 45px;
  background-color: #29282c;
  color:#a5a2b1;
  font-size: 18px;
}
.people-website:hover{
  color: #111011;
  background-color:#a5a2b1;
}
.person-wrapper  h5.person-house{
  font-size: 24px;
  margin:10px ;
}

.name{
  text-align: center;
}